@using MyEvernote.Entities.ValueObjects
@model LoginViewModel
@{
    ViewBag.Title = "MyEvernote-Giriş Sayfası";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <body>
        <div id="login">

            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">GİRİŞ YAP</h3>
                                <hr /> <br />@Html.ValidationSummary(false) <br /><hr />
                                @if (ViewBag.SetLink != null)
                                {
                                    <a href="@ViewBag.SetLink" class="btn btn-primary">Activate</a>
                                }
                                <div class="form-group">
                                    <label for="username" class="text-info"><span class="glyphicon glyphicon-user"></span> Kullanıcı Adı</label><br>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info"><span class="glyphicon glyphicon-lock">  </span> Şifre</label><br>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-sm">Giriş Yap</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}


@section footer{
    @Html.Partial("_PartialFooter")

}