@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Not Sil";
}
<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
     
        </p>
    </div>
</div>
<div class="row pl-3 mr-0">
    <div class="col-md-10">
        <div>
            <dl class="row">
                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.Category.Title)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Category.Title)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.IsDraft)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.IsDraft)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.LikeCount)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.LikeCount)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>

                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </dt>

                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.ModifiedUserName)
                </dd>

            </dl>

        </div>
    </div>
    <div class="col-md-10 pl-3 text-left">
        <h3><b>Silmek istediğinize Emin misiniz ? </b></h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Bootstrap.LinkButton("/Note/Delete", "secondary", string.Empty,
     string.Empty, "arrow-left", "Geri Dön!")
                @Bootstrap.Button("danger", string.Empty, "submit", "trash", "Sil")

            </div>
        }
    </div>
</div>
