@model IEnumerable<MyEvernote.Entities.Note>

@{
    ViewBag.Title = "Beğendiğim Notlar";
}
<div class="row pl-5 pt-3 mr-0">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row pl-5 mr-0">
    <div class="col-md-12">
        <table class="table table-hover table-striped table-sm small">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LikeCount)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.LikeCount)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
<script src="~/Scripts/comment.js"></script>

